body {
  background-color: #0c4a6e;
  margin-left: 30px;
}

#title-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 50px 0 10px 0px;
}

#title-container h1 {
  margin: -2px 0 -4px 0px;
  font-size: 35px;
}

#title-upper {
  color: #fff;
}

#title-lower {
  color: #10b981;
}

p {
  color: #9ca3af;
  font-size: 20px;
}

#gen-pw-btn {
  border: none;
  background-color: #10B981;
  padding: 8px 12px;
  border-radius: 3px;
}
