body {
  background-color: #1F2937;
  margin-left: 30px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: left;
}

#parent-container {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#title-upper {
  color: #fff;
  margin: 75px 0 -25px 0;
  font-size: 35px;
}

#title-lower {
  color: #10b981;
  margin: 20px 0 -10px 0;
}

p {
  color: #9ca3af;
  font-size: 20px;
}

#gen-pw-btn {
  border: none;
  background-color: #10B981;
  color: #fff;
  padding: 12px 15px;
  border-radius: 4px;
  margin: 30px 0 30px 0;
}

#divider {
  display: block;
  border: 1px solid #2e3f53;
  margin: 10px auto;
  width: 100%;
}

.pw-btn {
  width: 200px;
  height: 35px;
  border-radius: 8px;
  background-color: #263449;
  border: none;
  color: #10B981;
  margin: 30px 20px 100px 0;
}

#right-pw-btn {
  margin: 0 0 0 40px;
}
